<%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="side-nav">
	<div><a href="#" class="side-nav-item">Hello World</a></div>
	<div><a href="#" class="side-nav-item">Hello World</a></div>
	<div><a href="#" class="side-nav-item">Hello World</a></div>
	<div><a href="#" class="side-nav-item">Hello World</a></div>
	<div><a href="#" class="side-nav-item">Hello World</a></div>
	<div><a href="#" class="side-nav-item">Hello World</a></div>

	<div id="hide-button" onclick="toggleMenu('side-nav', 'side-nav-menu-icon', 'side-nav-menu-id', 'hide-button')">
		&#xab;
	</div>
</div>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
	<div data-toggle="tooltip" title="Menu" data-placement="bottom" class="side-nav-menu" id="side-nav-menu-id" onclick="toggleMenu('side-nav', 'side-nav-menu-icon', 'side-nav-menu-id', 'hide-button')">
		<span id="side-nav-menu-icon">&#9776;</span>
	</div>

	<div class="navbar-header" data-toggle="tooltip" title="Home" data-placement="bottom">
		<%= link_to root_path, class: "navbar-brand img-link" do %>
			<%= image_tag "cuboid.png", width: "30px" %>
			<span class="smoky-text">
				<span style="animation-delay: 0.1s" class="letters">C</span>&nbsp;
				<span style="animation-delay: 0.2s" class="letters">u</span>&nbsp;
				<span style="animation-delay: 0.3s" class="letters">b</span>&nbsp;
				<span style="animation-delay: 0.4s" class="letters">o</span>&nbsp;
				<span style="animation-delay: 0.5s" class="letters">i</span>&nbsp;
				<span style="animation-delay: 0.6s" class="letters">d</span>
			</span>
		<% end %>
	</div>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon "></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<form class="form-inline ml-auto">
			<div class="input-group">
				<input type="text" id="search" class="form-control input-sm" placeholder="Looking for something?">
				<div class="input-group-append">
					<button class="btn btn-light btn-sm" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		</form>

		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item" role="button" data-toggle="tooltip" title="Your Wishlist" data-placement="bottom">
				<a href="#" class="hover-line nav-link">
					<%= image_tag "wishlist.svg", width: "18px" %>
					Wishlist
				</a>
			</li>

			<li class="nav-item"  data-toggle="tooltip" title="Your Cart" data-placement="bottom">
				<%= link_to line_items_path, class: "nav-link hover-line" do %>
					<%= image_tag "cart.svg", width: "18px" %>
					Cart
				<% end %>
			</li>

			<li><a class="break nav-link">|</a></li>

			<li class="nav-item" data-toggle="tooltip" title="Help" data-placement="bottom">
				<a href="<%= help_path %>" class="nav-link hover-line">
					<%= image_tag "account.svg", width: "18px" %>
					Help
				</a>
			</li>

			<li class="nav-item dropdown dropdown-raise" >
				<a class="nav-link dropdown-toggle hover-line" href="#" id="navbarDropdownLanguage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%= image_tag "language.svg", width: "18px" %>
					<%= 'En' %>
				</a>

				<div class="dropdown-menu" aria-labelledby="navbarDropdownLanguage">
					<a class="dropdown-item" href="#">English</a>
					<a class="dropdown-item" href="#">Hindi</a>
					<a class="dropdown-item" href="#">Bengali</a>
				</div>
			</li>

			<li class="nav-item dropdown dropdown-raise">
				<a class="nav-link dropdown-toggle hover-line" href="#" id="navbarDropdownAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%= image_tag "account.svg", width: "18px" %>
					<%= current_user.first_name %>
				</a>

				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAccount">
					<%= login_helper('dropdown-item') %>
				</div>
			</li>
		</ul>
	</div>
</nav>

	<div id="menu">
		<ul class="menu-ul">
			<li class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
					Computer
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation" class="dropdown-header"><a href="#">Item 1</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 2</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 3</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 4</a></li>
				</ul>
			</li>

			<li class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
					Laptops
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
					<li role="presentation" class="dropdown-header"><a href="#">Item 2-1</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 2-2</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 2-3</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 2-4</a></li>
				</ul>
			</li>

			<li class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown">
					SBC
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
					<li role="presentation" class="dropdown-header"><a href="#">Item 3-1</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 3-2</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 3-3</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 3-4</a></li>
				</ul>
			</li>

			<li class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown">
					RAM
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
					<li role="presentation" class="dropdown-header"><a href="#">Item 4-1</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 4-2</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 4-3</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 4-4</a></li>
				</ul>
			</li>

			<li class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown">
					GPU
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu5">
					<li role="presentation" class="dropdown-header"><a href="#">Item 5-1</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 5-2</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 5-3</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 5-4</a></li>
				</ul>
			</li>

			<li class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu6" data-toggle="dropdown">
					Processors
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu6">
					<li role="presentation" class="dropdown-header"><a href="#">Item 6-1</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 6-2</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 6-3</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 6-4</a></li>
				</ul>
			</li>

			<li class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu7" data-toggle="dropdown">
					Others
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu7">
					<li role="presentation" class="dropdown-header"><a href="#">Item 7-1</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 7-2</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 7-3</a></li>
					<li role="presentation" class="dropdown-header"><a href="#">Item 7-4</a></li>
				</ul>
			</li>
		</ul>
	</div>
