<div class="card shadow rounded w-40">
	<div class="card-body">
		<h2>Log In</h2>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<%= render "devise/shared/error_messages", resource: resource %>
			<div class="form-group">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: false, autocomplete: "email", class: 'form-control mb-2' %>
			</div>

			<div class="form-group">
				<%= f.label :password %>
				<% if @minimum_password_length %>
					(<%= @minimum_password_length %> chars minimum)
				<% end %><br />
				<%= f.password_field :password, autocomplete: "new-password", class: 'form-control mb-2' %>
			</div>

			<center>
				<%= render 'devise/shared/forgot_password' %>
				<%= f.submit "Log in", class: 'btn btn-outline-primary register-buttons' %>
			</center>

			<div class="float-right">
				<%= render "devise/shared/links" %>
				<%= link_to 'Back', :back, class: 'btn btn-outline-danger register-buttons float-right' %>
			</div>
		<% end %>
	</div>
</div>
