<%= link_to '', products_path, class: 'btn-outline-purple-animated', 'data-content': 'back' %>

<div class="row mb-5">
	<div class="col-md-2">
	</div>

	<div class="col-md-4">
		<div class="shadow-sm-hover">
			<div class="card overflow-hide">
				<div class="card-body">
					<form class="form-group">
						<div class="mt-4">
							<h2>Checkout</h2>
							Pay <%= rs_tag(@total_price) %>
						</div>

						<div class="swap-flip">
							<div class="mt-4">
								Card Type <br>

								<select class="form-control">
									<option>Visa</option>
									<option>Master Card</option>
									<option>RuPay</option>
								</select>
							</div>

							<div class="mt-4">
								<label for="dummyInput1">Name on Card</label>
								<input type="text" class="form-control" id="dummyInput1" placeholder="Name">
							</div>

							<div class="mt-4">
								<label for="dummyInput1">Credit/Debit Card Number</label>
								<input type="text" class="form-control" placeholder="Credit/Debit Card Number">
							</div>

							<div class="mt-4">
								Expiration Date
								<div class="row">
									<div class="col-md-4">
										<select class="form-control" id="monthPicker"></select>
									</div>

									<div class="col-md-4">
										<select class="form-control" id="yearPicker"></select>
									</div>
								</div>
							</div>

							<div class="mt-4">
								<label for="dummyInput1">CVV Number</label>
								<input type="text" class="form-control" id="dummyInput1" placeholder="CVV">
							</div>
						</div>

						<div class="swap-flop">
							Delivery Address
							<div class="mt-4">
								<% 3.times do |i| %>
									<label for="dummyInput1" class="mt-2">Delivery Adress Line <%= i.next %></label>
									<input type="text" class="form-control" id="dummyInput1" placeholder="Address Line <%= i.next %>">
								<% end %>
							</div>

							<div class="mt-4">
								<label for="dummyInput1">City</label>
								<input type="text" class="form-control">
							</div>

							<div class="mt-4">
								<label for="dummyInput1">Pin Code</label>
								<input type="text" class="form-control">
							</div>

							<div class="mt-4">
								<label for="dummyInput1">State</label>
								<select class=" form-control"></select>
							</div>
						</div>

						<div class="mt-4" class="swap-flip">
							<center>
								<div class="swap-flip">
									<%= link_to '', '', class: 'btn-outline-purple-animated', 'data-content': 'Continue', remote: true %>
								</div>

								<div class="swap-flop">
									<%= link_to '', '', class: 'btn-outline-pink-animated', 'data-content': 'Confirm', remote: true %>
								</div>
							<center>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<% @products.each_with_index do |x, i| %>
			<%= link_to product_path(x) do %>
				<% if x.main_image.thumbnail!.url %>
					<%=
							render 'shared/previews',
							data: [
								x.main_image.thumbnail!.url, x.thumbnail.thumbnail!.url,
								*x.previews.map { |x| x.image.thumbnail!.url }
							]
					%>
				<% end %>

				<h1><%= x.title %></h1>
				<p>By <%= 'AKG' %></p>

				<p>
					<% unless x.tags.empty? %>
						Tags: <%= format_tags(x, 'tags:').html_safe %>
					<% else %>
						Tags: No tags are associated with this product!
					<% end %>
				</p>

				<p>
					<%= rating_gen(@avg_ratings.at(i)).html_safe %>

					<%#= link_to '', '#', class: 'links',
						'data-content': %Q[#{x.reviews} Review#{x.reviews != 1 ? 's' : '' }].html_safe
					%>
				</p>
				<hr>

				<% if x.price == x.price %>
					Price: <%= rs_tag(x.price) %>
				<% elsif x.price < x.price %>
					MRP. <strike><%= price_tag(x.price) %></strike><br>
					Price: <%= price_tag(x.price) %>
				<% end %>
				<br>
				<br>
			<% end %>
		<% end %>
	</div>

<%
=begin%>
		<%= link_to product_path(x) do %>
			<%=
				render 'shared/previews',
				data: [
					x.main_image.thumbnail!.url, @product.thumbnail.thumbnail!.url,
					*@product.previews.map { |x| x.image.thumbnail!.url }
				]
			%>

<%
=end %>
	</div>
</div>
