<div class="container-fluid" id="contents px-0">
	<div id="head-wrap">
		<div id="heading">
			Welcome to Cuboid...%-%Your Digital Computer Store...%-%We Offer High Quality Products...
		</div>
		<span id="caret">|</span>
	</div>

	<% if logged_in?(:site_admin) %>
		<center><%= link_to 'New Product', new_product_path %></center>
	<% end %>

	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
		</ol>

		<div class="carousel-inner">
			<div class="carousel-item active">
				<%= image_tag 'carousel-images/1.jpg', class: 'd-block w-100' %>
			</div>

			<div class="carousel-item">
				<%= image_tag 'carousel-images/2.jpg', class: 'd-block w-100' %>
			</div>

			<div class="carousel-item">
				<%= image_tag 'carousel-images/3.jpg', class: 'd-block w-100' %>
			</div>

			<div class="carousel-item">
				<%= image_tag 'carousel-images/4.jpg', class: 'd-block w-100' %>
			</div>

			<div class="carousel-item">
				<%= image_tag 'carousel-images/5.jpg', class: 'd-block w-100' %>
			</div>

			<div class="carousel-item">
				<%= image_tag 'carousel-images/6.jpg', class: 'd-block w-100' %>
			</div>
		</div>

		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>

		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<div class="separator-wrapper">
		<div class="separator">
			Hot Sales
		</div>
	</div>

	<%# Items Card %>
	<div id="item-thumbnails">
		<div class="row">
			<% @products.each do |x| %>
				<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
					<div class="card">
						<%= link_to x do %>
							<div class="img-hover-effect">
								<div class="img-hover-label">
									<i class="fas fa-info-circle"></i>
									More Info
								</div>

								<% if x.thumbnail.url %>
									<%= image_tag x.thumbnail.thumbnail!.url, class: 'card-img-top' %>
								<% else %>
									<div class="no-img-label">No Preview Available!</div>
								<% end %>
							</div>
						<% end %>

						<div class="card-body">
							<h3 class="card-title"><%= x.title %></h3>
							<h5 class="card-title">Price: <%= rs_tag(x.price) %></h5>
							<h6 class="card-text"><%= x.description.to_s %></h6>

							<p class="card-text">
								<%= format_tags(x, 'tags:').html_safe %>
							</p>

							<%= link_to product_add_to_line_items_path(x), remote: true, method: :patch, class: 'btn-outline-blue-animated', 'data-content': 'Add to Cart' do %>
								<%= image_tag('cart-button.svg', width: '24px') + "&nbsp;&nbsp".html_safe %>
							<% end %>

							<%= link_to product_checkout_path(x), method: :get, class: 'btn-outline-pink-animated', 'data-content': 'Buy Now' do %>
								<%= image_tag('purchase.svg', width: '24px') + "&nbsp;&nbsp".html_safe  %>
							<% end %>

							<%= link_to product_add_to_wishlist_path(x), remote: true, method: :patch, class: "btn-outline-warning-animated", 'data-content': "Buy Later" do %>
								<%= image_tag('wishlist.svg', width: '24px') + "&nbsp;&nbsp".html_safe %>
							<% end %>

							<%#= Admin Actions %>
							<%if logged_in?(:site_admin) %>
								<hr>

								<div class="admin-section">
									<%= image_tag 'diamond.svg', height: '40px' %>
									<span class="centrify-v height-36">Admin Actions</span>
								</div>

								<br>

								<%= link_to edit_product_path(x), class: 'btn-outline-pink-animated', 'data-content': 'Edit' do %>
									<%= image_tag('pencil.svg', width: '24px') + '&nbsp;&nbsp;'.html_safe %>
								<% end %>

								<%= link_to x, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-outline-emerald-animated', 'data-content': 'Trashify' do %>
									<%= image_tag('trash.svg', width: '24px') + '&nbsp;&nbsp;'.html_safe %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	<div class="centrify">
		<%= paginate @products, class: 'pagination' %>
	</div>
</div>

<%= javascript_pack_tag 'home_body.js' %>
