<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-4">
		<%=
			render 'shared/previews',
			data: [
				@product.main_image.thumbnail!.url, @product.thumbnail.thumbnail!.url,
				*@product.previews.map { |x| x.image.thumbnail!.url }
			]
		%>
	</div>

	<div class="col-md-6">
		<h1><%= @product.title %></h1>
		<p>By <%= 'AKG' %></p>

		<p>
			<% unless @product.tags.empty? %>
				Tags: <%= format_tags(@product, 'tags:').html_safe %>
			<% else %>
				Tags: No tags are associated with this product!
			<% end %>
		</p>

		<p>
			<%= rating_gen(@ratings_avg).html_safe %>

			<%= link_to '', '#', class: 'links',
				'data-content': %Q[#{@n_ratings} Review#{@n_ratings != 1 ? 's' : '' }].html_safe
			%>
		</p>
		<hr>

		<% if @product.price == @product.price %>
			Price: Rs. <%= @product.price %>
		<% elsif @product.price < @product.price %>
			MRP. Rs. <strike><%= @product.price %></strike><br>
			Price: Rs. <%= @product.price %>
		<% end %>

		<br>
		<br>

		<h5>Description</h5>
		<div class="break-word-wrapper"><%= @product.description %></div>

		<br>
		<br>

		<h5>Features</h5>
		<div class="break-word-wrapper"><%= @product.features %></div>

		<%= link_to product_checkout_path(@product), method: :get, class: 'btn-outline-pink-animated', 'data-content': 'Buy Now' do %>
			<%= image_tag 'purchase.svg', width: '24px' %>
		<% end %>

		<%= link_to product_add_to_line_items_path(@product), remote: true, method: :patch, class: 'btn-outline-blue-animated', 'data-content': 'Add to Cart' do %>
			<%= image_tag 'cart-button.svg', width: '24px' %>
		<% end %>

		<%= link_to product_add_to_wishlist_path(@product), remote: true, method: :patch, class: 'btn-outline-warning-animated', 'data-content': 'Add to Wishlist' do %>
			<%= image_tag 'wishlist.svg', width: '24px' %>
		<% end %>
	</div>
</div>

<hr>

<h2>Reviews and Ratings</h2>
<% @ratings.each do |x| %>
	<%= x.user.name %><br>
	<%= rating_gen(x.rating).html_safe %>
	"<%= x.comment %>"
	<br>
	<br>
<% end %>



<%= link_to 'Edit', edit_product_path(@product), class: 'btn-outline-green-animated' %> |
<%= link_to '', products_path, class: 'btn-outline-purple-animated', 'data-content': 'back' %>
