<!DOCTYPE html>
<html>
	<head>
		<title>App</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'buttons_outline', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'notify-send', media: 'all', 'data-turbolinks-track': 'reload' %>

		<%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'date_picker_builder', media: 'all', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div class="header">
			<%= render('shared/nav') %>
		</div>

		<div class="body-content">
			<%= notifications %>
			<%= yield %>
		</div>

		<div class="footer">
			<%= render('shared/footer') %>
		</div>
	</body>
</html>
